.counter {
    border: 2px solid turquoise;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
    border-radius: 10px;
}

button {
    background-color: turquoise;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}